body {
    background-image: url('bg.jpg');
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 900px;
    font-family:'Georgia';
    font-size: 12px;
    margin: 0px;
}

body:focus {
    outline: none;
}

.center{
  margin-left:50%;
  transform: translate(-50%,0);
  width: 80%;
}


#header {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}


#header-logo {
    /*background-color: #AA0000;*/
    top: 0;
    left: 10px;
    width: 50px;
    float: left;
}

#header-text {
    /*background-color: #AA0000;*/
    top: 32px;
    /*left: 50%;*/
    /*padding-left: 42%;*/
    padding-top: 32px;
    /*float: center;*/
    text-align: center;
    font-size: 40px;
    font-family:'Georgia';
    /* the space between content and border */
    color: black;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}


#bottom {
    /*background-color: #1F2120;*/
    bottom: 20px;
    padding-top: 10px;
    width: 800px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#copyright {
    /*background-color: #1F2120;*/
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    color: black;
    text-align: center;
    /*padding: 0px 0 0px 0;*/
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}


#content {
    padding-top: 40px;
    padding-bottom: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*
#content table {
    background-color: white;
    border: 1px white solid;
    width: 400px;
    text-align: center;
    margin: auto;
}
*/

#login-box {
    width: 350px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    /*color: #fff;*/
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
    color: white;
    font-size: 15px;

}

#login-box p{
    width: 100%;
    margin-bottom: 20px;
}

#login-box input{
    width: 100%;
    margin-bottom: 20px;
}

#login-box input[type="username"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 15px;
}

#login-box input[type="submit"]{
    background-color: #AA0000;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family:'Georgia';
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}


#login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #B3995D;
    color: white;
}

#login-box .button{
    background-color: #AA0000;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family:'Georgia';
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

#login-box .button:hover{
    cursor: pointer;
    background: #B3995D;
    color: white;
}

#box-header{
    font-size: 14px;
    height: 40px;
}

#box-note{
    font-size: 11px;
    margin-bottom: 30px;
}

#message {
    padding-bottom: 120px;
    width: 800px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.button button {
    background-color: #AA0000;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family:'Georgia';
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button button:hover{
    cursor: pointer;
    background: #B3995D;
    color: white;
}


#button-box {
    width: 350px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    /*color: #fff;*/
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
}

#button-box input[type="submit"]{
    background-color: #AA0000;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family:'Georgia';
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


#button-box input[type="submit"]:hover{
    cursor: pointer;
    background: #B3995D;
    color: white;
}


.right {
  position: fixed;
  float:right;
  right: 0px;
  top: 0px;
  width: 300px;
  padding: 10px;
}

#display {
    padding-top: 40px;
    padding-bottom: 800px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 25pt;
    color: black;
}

.bottom {
    position: fixed;
    padding: 10px;
}
.bottom .button {
    background-color: #AA0000;
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-family:'Georgia';
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}